@{
    ViewBag.Title = "Contact";
}

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="kalun4uk@meta.ua">Support@example.com</a><br />
</address>